---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import UnderlinedLink from "@/components/fundations/elements/UnderlinedLink.astro";
// Content
const { title, description, url, image, meta } = {
  url: "/projects/" + Astro.props.project.slug,
  title: Astro.props.project.data.title,
  description: Astro.props.project.data.description,
  image: Astro.props.project.data.cover.url,
  meta: [
    Astro.props.project.data.category,
    Astro.props.project.data.location,
    Astro.props.project.data.year,
  ]
    .filter(Boolean)
    .join(" • "),
};
---

<article>
  <Image
    src={image}
    alt={title}
    width={800}
    height={700}
    loading="lazy"
    decoding="async"
    class="object-cover object-center w-full aspect-4/3 rounded"
  />
  <div class="mt-4 flex flex-col gap-1">
    <Text tag="p" variant="textXS" class="uppercase text-base-600 font-medium">
      {meta}
    </Text>
    <Text tag="h3" variant="textXL" class="font-medium text-accent-900 mt-4">
      {title}
    </Text>
    <Text tag="p" variant="textBase" class="text-base-600 mt-1 line-clamp-2">
      {description}
    </Text>
    <UnderlinedLink
      href={url}
      variant="dark"
      title={`View project: ${title}`}
      aria-label={`View project: ${title}`}
      class="mt-4"
    >
      View project
    </UnderlinedLink>
  </div>
</article>
