---
// Assets
import { Image } from "astro:assets";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Sections
import BlogCard from "@/components/blog/BlogCard.astro";
const { frontmatter } = Astro.props;
// Get all posts and filter by tag
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const relatedPosts = allPosts.filter((post) =>
  post.data.tags.some((tag) => frontmatter.tags.includes(tag))
);
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-12 lg:py-24">
      <div class="text-center">
        {
          frontmatter.tags.map((tag) => (
            <Text tag="p" variant="textXS" class="uppercase text-base-600">
              <a href={`/blog/tags/${tag}`}>{tag}</a>
            </Text>
          ))
        }

        <Text
          tag="p"
          variant="displaySM"
          class="mt-12 text-base-900 font-medium"
        >
          {frontmatter.title}
        </Text>
        <Text tag="p" variant="textXL" class="text-base-600 mt-2">
          {frontmatter.description}
        </Text>
        <Text tag="p" variant="textXS" class="text-base-600 mt-8">
          Written on
          <time datetime={new Date(frontmatter.pubDate).toISOString()}>
            {
              new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "2-digit",
              })
            }
          </time>
        </Text>
        <Image
          width={1400}
          height={1400}
          loading="lazy"
          decoding="async"
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          class="object-cover object-center mt-12"
        />
      </div>
      <Wrapper variant="prose"><slot /></Wrapper>
    </Wrapper>
  </section>
  {
    relatedPosts.length > 0 && (
      <section>
        <Wrapper variant="standard" class="py-12 lgpy-24">
          <Text tag="h2" variant="displaySM" class="font-medium text-base-900">
            Related posts
          </Text>
          <div class="grid grid-cols-1 lg:grid-cols-3 mt-12 gap-8">
            {relatedPosts.slice(0, 3).map((post) => (
              <BlogCard post={post} />
            ))}
          </div>
        </Wrapper>
      </section>
    )
  }
</BaseLayout>
