---
// Assets
import { Image } from "astro:assets";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Kicker from "@/components/fundations/elements/Kicker.astro";
import UnderlinedLink from "@/components/fundations/elements/UnderlinedLink.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Sections
import BlogCard from "@/components/blog/BlogCard.astro";
const { frontmatter } = Astro.props;
// Get all posts and filter by tag
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const relatedPosts = allPosts.filter((post) =>
  post.data.tags.some((tag) => frontmatter.tags.includes(tag))
);
---

<BaseLayout navTransparent={true}>
  <section class="bg-accent-800">
    <Wrapper
      variant="standard"
      class="py-12 pt-48 lg:border-x lg:border-white/10"
    >
      <div class="max-w-xl mx-auto text-center text-balance lg:col-span-2">
        <Kicker class="text-base-300">
          Written on
          <time datetime={new Date(frontmatter.pubDate).toISOString()}>
            {
              new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "2-digit",
              })
            }
          </time></Kicker
        >
        <Text
          tag="h1"
          variant="displayMD"
          class="font-medium tracking-tight mt-12 text-white"
        >
          {frontmatter.title}
        </Text>
        <Text tag="p" variant="textLG" class="text-base-400 mt-4">
          {frontmatter.description}
        </Text>
        <div class="mt-12 flex flex-wrap justify-center gap-4 capitalize">
          {
            frontmatter.tags.map((tag) => (
              <UnderlinedLink variant="light" href={`/blog/tags/${tag}`}>
                {tag}
              </UnderlinedLink>
            ))
          }
        </div>
      </div>
    </Wrapper>
  </section>
  <Wrapper variant="standard" class="pt-8">
    <Image
      width={1400}
      height={1400}
      loading="lazy"
      decoding="async"
      src={frontmatter.image.url}
      alt={frontmatter.image.alt}
      class="object-cover object-center max-h-120"
    />
  </Wrapper>
  <Wrapper variant="standard" class="py-12">
    <Wrapper variant="narrow" class="mx-auto">
      <Wrapper variant="prose">
        <slot />
      </Wrapper>
    </Wrapper>
  </Wrapper>
  <section></section>
  {
    relatedPosts.length > 0 && (
      <section>
        <Wrapper variant="standard" class="py-12 lgpy-24">
          <div class="flex flex-col md:flex-row gap-4 md:items-center justify-between">
            <Text
              tag="h2"
              variant="displaySM"
              class="font-medium  tracking-tight   text-accent-900"
            >
              Related posts
            </Text>
            <Button isLink size="xs" variant="muted" href="/blog" class="w-fit">
              See all posts
            </Button>
          </div>
          <div class="grid grid-cols-1 lg:grid-cols-3 mt-12 lg:mt-24 gap-x-8 gap-y-24">
            {relatedPosts.slice(0, 3).map((post) => (
              <BlogCard post={post} />
            ))}
          </div>
        </Wrapper>
      </section>
    )
  }
</BaseLayout>
