---
// Assets
import { Image } from "astro:assets";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Kicker from "@/components/fundations/elements/Kicker.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import ServiceCard from "@/components/services/ServiceCard.astro";
// Content
import { getCollection } from "astro:content";
const { frontmatter } = Astro.props;
const allServices = await getCollection("services");
const latestServices = allServices
  .filter((service) => service.data.title !== frontmatter.title)
  .slice(0, 2);
---

<BaseLayout navTransparent={true}>
  <section class="bg-accent-900">
    <Wrapper
      variant="standard"
      class="py-12 pt-48 lg:border-x lg:border-white/10"
    >
      <div class="grid grid-cols-1 lg:grid-cols-3 lg:items-end gap-12">
        <div class="max-w-xl text-balance lg:col-span-2">
          <Kicker class="text-secondary-500">{frontmatter.excerpt}</Kicker>
          <Text
            tag="h1"
            variant="displayMD"
            class="text-white font-semibold tracking-tight mt-12"
          >
            {frontmatter.title}
          </Text>
          <Text tag="p" variant="textLG" class="text-white max-w-xl mt-4">
            {frontmatter.description}
          </Text>
        </div>

        <ul role="list" class="space-y-1 list-none">
          {
            frontmatter.highlights?.map((highlight) => (
              <li>
                <Text tag="p" variant="textBase" class="text-alternative-300">
                  {highlight}
                </Text>
              </li>
            ))
          }
        </ul>
      </div>
    </Wrapper>
  </section>

  <section>
    <Wrapper variant="paddingless">
      <Image
        width={1400}
        height={1400}
        loading="lazy"
        decoding="async"
        src={frontmatter.image.url}
        alt={frontmatter.image.alt || frontmatter.title}
        class="object-cover object-center w-full max-h-120"
      />
    </Wrapper>
  </section>
  <Wrapper variant="standard" class="py-12">
    <Wrapper variant="narrow" class="mx-auto">
      <Wrapper variant="prose">
        <slot />
      </Wrapper>
    </Wrapper>
  </Wrapper>
  {
    latestServices.length > 0 && (
      <section>
        <Wrapper variant="standard" class="py-24">
          <div class="flex flex-col md:flex-row gap-4 md:items-center justify-between">
            <Text
              tag="h2"
              variant="displaySM"
              class="font-semibold tracking-tighter  text-accent-900"
            >
              Latest services
            </Text>
            <Button
              isLink
              size="xs"
              variant="default"
              href="/services"
              class="w-fit"
            >
              See all projects
            </Button>
          </div>

          <div class="grid grid-cols-1 lg:grid-cols-2 mt-12 lg:mt-24 gap-x-8 gap-y-24">
            {latestServices.map((service) => (
              <ServiceCard service={service} />
            ))}
          </div>
        </Wrapper>
      </section>
    )
  }
</BaseLayout>
